<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
	<link rel="stylesheet" href="/static/progress_bar.css">
	<title>jQuery File Upload Example</title>
</head>
<body>
	<input id="fileupload" type="file" name="files[]" accept="image/jpeg" data-url="data_url" multiple>
	<div id="progress">
		<div class="bar" style="width: 0%;"></div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/static/vendor/jquery.ui.widget.js"></script>
	<script src="/static/jquery.iframe-transport.js"></script>
	<script src="/static/jquery.fileupload.js"></script>
	<script>
		$(function () {
			$('#fileupload').fileupload({
				dataType: 'json',
				// This won't be thrown if the server returns valid json.
				// I imagine it's most useful if the server returns bad json.
				// Does error also hit if the server returns invalid json?
				fail: function (e, data) {
					console.log('fail');
					console.log(e);
					console.log(data);
					console.log(data.textStatus);
				},
				done: function (e, data) {
					data.context.text('Upload finished!');	// This way, or with <p/> as below?

					console.log("DONE");
					console.log(data);
					$('<p/>').text('Done!').appendTo(document.body);
					console.log(data.result);
					console.log(data.result.name);

					$('<p/>').text(data.result.name).appendTo(document.body);
				},
				error: function (e, data) {
					$('<p/>').text('Upload error!').appendTo(document.body);
					console.log("Upload error: " + data);
					console.log(e);
				},
				// This increments the progress bar.
				progressall: function (e, data) {
					var progress = parseInt(data.loaded / data.total * 100, 10);
					$('#progress .bar').css(
						'width',
						progress + '%'
					);
				},
				// Add a button to allow the upload to start.
				// Then add a status box to the page during the upload.
				add: function (e, data) {
					// data.context = $('<button/>').text('Upload')
					// 	.appendTo(document.body)
					// 	.click(function () {
					// 		data.context = $('<p/>').text('Uploading...').replaceAll($(this));
					// 		data.submit();
					// 	}
					// );
					data.context = $('<p/>').text('Uploading...').appendTo(document.body);
					data.submit();
				},
			});
		});
	</script>
</body>
</html>
